*.settings
*.project
*.pydevproject
*.pyo
*.pyc
*.DS_Store
*.class
*~
dist
ignore
.ipynb_checkpoints
build
*.bak
*.egg-info
docs/chapter*.py
.coverage
htmlcov
Untitled*.ipynb
GeneratedFiles
GeneratedFiles/*.py
\.idea/
.vscode
*scratch.ipynb*
